/* .swiper {
  display: flex;
  justify-content: center;
}

.swiper-slide {
  display: flex;

  @media (max-width: 768px) {
    max-width: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  background-color: #92000e;
}

.swiper-button-next,
.swiper-button-prev {
  color: #92000e;
}

@media (max-width: 768px) {
  max-width: 300px;
  .swiper-button-next {
    margin: -200px;
  }
} */
