.swiper {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  background-color: #92000e;
}

.swiper-button-next,
.swiper-button-prev {
  color: #92000e;
}
